<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iia.cdsm.myqcm" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <activity
            android:name=".View.Activity.ConnectionActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.ViewCategoryActivity">
        </activity>
        <activity android:name=".View.Activity.ListQcmActivity" android:theme="@style/ThemeTactFactory">
        </activity>
        <activity android:name=".View.ViewQcmActivity">
        </activity>
        <activity android:name=".View.Activity.HomeActivity" android:theme="@style/ThemeTactFactory">
        </activity>
        <activity android:name=".View.Activity.BeforeQuestionsActivity" android:theme="@style/ThemeTactFactory">
        </activity>
        <activity android:name=".View.Activity.AfterQuestionsActivity" android:theme="@style/ThemeTactFactory">
        </activity>
        <activity android:name=".View.Activity.QuestionsActivity" android:theme="@style/ThemeTactFactory">
        </activity>
    </application>

</manifest>
